# Mac
.DS_Store
Icon
._*
.Spotlight-V100

# SublimeText
/*.sublime-project
*.sublime-workspace
*.sublime-project
.idea/*

# Node
node_modules
npm-debug.log

# Coverage
coverage

# Debugging Files
debug/*
!debug/sample.html
!debug/sample-mapService.html
!debug/sample-async.html
!debug/closest-facility.html

# Built Files
dist/
